build
dist / media
node_modules
.DS_Store
.env
.env*
.next
.vercel

old/

# Payload default media upload directory
public/media/
public/cover-images/
public/cover-image-svg/
public/talkaudio/
public/upload/
media/
cover-images/
cover-image-svg/
talkaudio/
upload/
