@import '../../_css/common';

.heading {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}

.subheading {
  text-align: center;
  font-size: 1.5rem;
}

.seriesList {
  list-style: none;
}
